@import "compass/reset";
@import "compass/css3";

.simon-button {
    @include opacity(0.4);
    height: 100px;
    width: 100px;
    cursor: pointer;
    &:hover {
        @include opacity(1);
    }
}

.simon-button-1 {
    background: red;
}

.simon-button-2 {
    background: blue;
}

.simon-button-3 {
    background: green;
}

.simon-button-4 {
    background: yellow;
}