@import "compass/reset";
@import "compass/css3";

$columns: 2;
$rows: 2;

.simon-buttons {
    width: 100%;
}

.simon-button {
    @include opacity(0.4);
    @include inline-block;
    width: 100% / $columns;
    height: 100% / $rows;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &.active {
        @include opacity(1);
    }
}

.simon-button-1 { background: red; }
.simon-button-2 { background: blue; }
.simon-button-3 { background: green; }
.simon-button-4 { background: yellow; }
.simon-button-5 { background: pink; }
.simon-button-6 { background: orange; }

.dialog-wrapper1 {
    position: absolute;
    top: 50px;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.dialog-wrapper2 {
    @include inline-block;
}

.dialog {
    padding: 20px;
    background: white;
    font-size: 26px;
    p {
        margin-bottom: 20px;
    }
    button {
        font-size: 26px;
    }
}

.game-over {
    display: none;
    .num-rounds {
        padding-left: 5px;
    }
}