doctype 5
html(lang="en")
    head
        title "Simple Simon Game"
        link(rel="stylesheet", href="simon.css")
        script(src="http://code.jquery.com/jquery-2.0.3.min.js")
        script(src="simon.js")
    body
        ul.simon-buttons
            li(class="simon-button simon-button-1")
            li(class="simon-button simon-button-2")
            li(class="simon-button simon-button-3")
            li(class="simon-button simon-button-4")
//            li(class="simon-button simon-button-5")
//            li(class="simon-button simon-button-6")